[v-cloak] > * {
  display: none; }

.g-blocks-filter {
  padding-left: 20px; }

.block-version,
.block-author {
  position: absolute;
  top: 15px;
  right: 20px; }

.spinner.installing-block {
  visibility: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.install-block-btn.button-delete {
  color: #fff;
  border-color: #E91E63;
  background: #E91E63;
  box-shadow: 0 1px 0 #E91E63;
  vertical-align: top; }
  .install-block-btn.button-delete:hover {
    color: #fff;
    border-color: #ab194a;
    background: #c22057;
    box-shadow: 0 1px 0 #cc1a56;
    vertical-align: top; }

.fgc-notification {
  visibility: hidden;
  min-width: 300px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px 24px;
  position: fixed;
  z-index: 100000;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px; }

.fgc-notification.success {
  background-color: #1883db; }

.fgc-notification.error {
  background-color: #d1554c; }

.fgc-notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
          animation: fadein 0.5s, fadeout 0.5s 3.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

.fgc-wrapper-grid {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px; }
  .fgc-wrapper-grid .postbox {
    float: left;
    clear: left;
    width: 50%;
    margin: 0 0 16px; }
    @media only screen and (max-width: 850px) {
      .fgc-wrapper-grid .postbox {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%; } }
    .fgc-wrapper-grid .postbox .inside {
      margin-bottom: 0; }
  .fgc-wrapper-grid .postbox:nth-child(odd) {
    margin-left: -8px; }
  .fgc-wrapper-grid .postbox:nth-child(even) {
    float: right;
    clear: right;
    margin-right: -8px; }
  .fgc-wrapper-grid .hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4; }
  .fgc-wrapper-grid .fgc-fields {
    border: #ebebeb solid 1px;
    background: #fafafa;
    border-radius: 3px; }

.fgc-center-text {
  text-align: center; }

.upload-custom-block .block-install-help code {
  font-size: 12px; }
